{% extends "::base.html.twig" %}

{% block title %}AppBundle:Products:add{% endblock %}

{% block body %}
    <h1>Dodaj produkt</h1>
    {{ form_start(form) }}
    {{ form_end(form) }}
{% endblock %}
