{% extends "::base.html.twig" %}

{% block title %}Zamówienia{% endblock %}
{% block body %}
<h1>Witaj na platformie zamówień towarów firmy Polbruk</h1>
<a href="{{ path('products_list') }}" class="btn btn-success" role="button">Nowe zamówienie</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th>id</th>
            <th>numer</th>
            <th>data</th>
            <th>klient</th>
            <th>status</th>
            <th>data wysłania</th>
            <th>operacje</th>
            <th>usuń</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="" class="btn btn-default" role="button">Zobacz</a>
                <a href="" class="btn btn-success" role="button">Wyślij</a>
                
            </td>
            <td><a href="" class="btn btn-danger" role="button">Usuń</a></td>
        </tr>
    </tbody>
</table>
{% endblock %}
